body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 98vh;
  font-family: Roboto, sans-serif;
}

.blue-section,
.footer {
  background-color: #1F2937;
}

.section-1-title {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.subtext-and-links {
  font-size: 18px;
  color: #E5E7EB;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 72px;
  font-size: 24px;
  color: #F9FAF8;
}

.section-1-container {
  display: flex;
  height: 72px;
  justify-content: space-between;
  gap: 50px;
}

.awesome-website {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.section-1-image {
  background-color: gray;
  min-width: 50%;
  min-height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-section {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  padding-top: 10px;
  height: 25vh;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 30px;
}

button {
  background-color: #3882F6;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  color: #F9FAF8;
}

.footer {
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}