body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150vh;
  font-family: Roboto, sans-serif;
}

.blue-section,
.footer {
  background-color: #1F2937;
}

.section-1-title {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.subtext-and-links {
  font-size: 18px;
  color: #E5E7EB;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 72px;
  font-size: 24px;
  color: #F9FAF8;
}

.section-1 {
  display: flex;
  height: 72px;
  justify-content: space-between;
  gap: 50px;
  padding-top: 100px;
}

.awesome-website {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.section-1-image {
  background-color: gray;
  min-width: 50%;
  min-height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-section {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 30px;
  padding-top: 10px;
  height: 30%;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 30px;
}

button {
  background-color: #3882F6;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  color: #F9FAF8;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 20%;
  gap: 30px;
}

.random-info {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.image-and-subtext-container {
  display: flex;
  flex-wrap: wrap;
}

.image-and-subtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.section-2-box {
  height: 150px;
  min-width: 150px;
  border: 2px solid #3882F6;
  border-radius: 25px;
}

.section-2-text {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

.section-3 {
  height: 20%;
  background-color: #E5E7EB;
}

.section-4 {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  height: 5%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 500px;
  padding-right: 500px;
}

.inspiring-quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  /* same as font-weight: light I think. doesn't work on my
  browser for some reason */
  color: #1F2937;
  /* this color also doesn't work on my browser */
}

.thor-quote {
  align-self: flex-end;
  /* I thought this would be justify-self, but I guess it doesn't
  care if its parent is in flex-direction: column, so normal axis
  orientation applies? */
  font-weight: bold;
}

.section-4-container {
  height: 50%;
  width: 55%;
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  gap: 130px;
}


.section-4-text-container {
  display: flex;
  flex-direction: column;
  color: #F9FAF8;
}

.section-4-text {
  font-weight: 900;
}

.section-4-subtext {
  font-size: 18px;
}

.section-4-button {
  border-color: white;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  align-self: center;
}